<ul>
    <li>
        <a title="Repeat revision" data-pad="<%= pad %>" class="js-repeat-revision repeat-revision">
            <!-- <span class="fa fa-repeat"></span> -->
            <button>Use revision</button>
        </a>
    </li>
</ul>
